BOT_TOKEN=
LOG_LEVEL=DEBUG

API_URL=http://admin/api/v1

REDIS_PORT=6379
REDIS_HOST=api-redis-db
REDIS_DB=0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=api_database
POSTGRES_HOST=admin-postgres-db
POSTGRES_PORT=5432

ADMIN_SERVICE_HOST=admin
ADMIN_SERVICE_PORT=8000